body {
    font-family: 'Light', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header stuff here */
header {
    background-color: #A7D0FA;
    padding: 1rem 2vw;
}
header h1 {
        margin: 0;
        color: #49A3FC;
}
header p {
        margin: 0;
        color: #49a3fc;
        letter-spacing: 0.5px;
}

/* nav stuff here */
nav {
    background-color: #49DBFC; 
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #6249FC;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #024873;
    color: #f2b705;
}
nav a:hover {
    color: white;
}

/* Stuff for main*/
fieldset {

  background-color: #B0C7EF;
}

legend{
  display: block;
    text-align: left;
  background-color: blue;
  color: white;
  padding: 5px 10px;
}
main{
    padding: 1rem 2vw;
}
main h1 {
    color: #49FCE3;
}
main h2 {
    color: #024873;
    margin-bottom: .2rem;
}
main p {
    color: #496AFC;
    margin: 0 0 .3rem 0;
}


main address {
    font-style: normal;
    background-color: #A7D0FA;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #6249FC;
    border-radius: 5px;
}

Main a {
    color: #024873;
}
Main a:hover {
    color: rgb(167, 208, 250);
}
.myForm fieldset {
    border: 1px solid #43a0b6;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #43a0b6;
    font-size: .8rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    Border-radius: .3rem;
    font-family: 'light', sans-serif;
    font-weight: 200;
}

.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: #34e1eb;
}

.myForm [type=text]:valid, .myForm [type=tel]:valid {
    background-color: rgba(30, 51, 180, 0.1);
}

.myForm [type=submit] {
    background-color: #4384b6;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: black;
    margin: 1rem 0 0 1vw;
}
/* footer stuff here */
footer {
    background-color: #49f3fc;
    text-align: center;
    color: #024873;
    padding: 1rem 0;
    font-size: .8rem;
}
